body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer{
    background-color: white;
    border: 1px solid whitesmoke;
    color:rgba(0,0,0,0.9);
    width: 100%;
}

header ul, footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5% 5%;
}

header ul li img{
    max-height: 25px;
    max-width: auto;
    padding-right: 0.575em;
}

header h1{
    font-size: 1.68em;
    float: inline-end;
}

header a{
    background-color: rgb(32, 241, 32);
    border-radius: 15px;
    color: white;
    cursor: pointer;
    float: right;
    height: 2em;
    line-height: 2em;;
    width: 9em;
    text-align: center;
}

.divisor{
    font-size: 0.815em;
    margin: 2% 5%;
}

#bookForm{
    border: solid 1px black;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 1em;
}


fieldset div{
    padding-bottom: 0.5em;
}

fieldset div label{
    display: inline-block;
    width: 61px;
}

input{
    padding: 0.5em;
    height: 2em;
}

.hidden{
    display:none;
}

.latestBook{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 1em;
}

.card{
    flex-grow: 1;
    border: solid 1px green;
    color: white; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.5em;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.mainBookTitle{
    color: rgb(32, 241, 32);
    font-size: 1.68em;
    padding: 0.5em 0.5em;
}
.mainBookAuthor, .mainBookStatus, .mainBookPages{
    font-size: 1em;
    padding: 0.5em 0em 0.5em 0.5em;
}

.read{
    background-color: green;
    /* AQUI É O BOTÃO DE LIDO OU NÃO LIDO*/
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.75em;
}

/* SEARCH CSS */
.downarrow{
    max-height: 12.5px;
    max-width: auto;
    margin-left: 0.575em;
}

details > summary:first-of-type {
    list-style-type: none;
}

details form{
    display: block;
    text-align: center;
}

#searchDetails{
    margin-top: 1em;
}

.searchbox-container{
    margin: 2em auto;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    color: rgba(0,0,0,0.3);
    min-width: 284px;
    width: 35em;
    padding: 0px;
}

.searchbox{
    display: flex;
    justify-content: center;
    padding: 0.3em;
    width: 35em;
}

.searchbox-container:hover,
.searchbox-container:active{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.searchbox input{
    background-color: transparent;
    border: none;
    margin: 0;
    margin-top: 0px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    height: 34px;
    font-size: 16px;
    width: 25em;
}

.searchicon{
    fill: #9AA0A6;
    height: 24px;
    padding: 4px 0px 0px 10px;
    margin: 4px 8px 0px 0px;
}

.button-container{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
}

.errorMessage{
    color: red;
    margin-bottom: 2em;
    text-align: center;
}

#searchResultDisplay{
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 1em;
    min-height: 2em;
}

.searchResultDisplayBackGround{
    background-color: rgba(0,0,0,0.1);
}

.bookResults{
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    padding: 0.5em;
}

.bookTitle, .bookAuthor, .bookStatus, .bookPages{
    margin: 0.5em;
}

/* MEDIA QUERIES */
@media (max-width:600px){

    #mainGrid{
        display: flex;
        flex-direction: column;
        width:100%;
    }

    .searchbox-container{
        width: 20em;
    }

    .searchbox input{
        width: 30em;
    }
    
    footer{
        border: 1px solid gold;
        margin-right: 1em;
        width: 100vw;
    }
    footer ul{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 414px){
    body, header, footer{
        max-width: 409px;
    }
}

@media (max-width: 400px){
    header ul li{
        display: flex;
        flex-direction: column;
    }
    header ul li img{
        display:none;
    }

    .divisor{
        width: 80vw;
    }

    .latestBook{
        margin-top: 1em;
        min-height: 40vh;
    }


    

    .searchbox{
        max-width: 300px;
    }

    #search{
        margin-left: 1em;
        max-width: 299px;
    }
}

@media (max-width: 375px){
    body, header, footer{
        max-width: 373px;
    }
}


@media (max-width: 360px){
    body, header, footer{
        max-width: 358px;
    }
}